.header{
    box-shadow: 0px 5px 35px #3f4f6d
}

.logo {
    width: 80px;
}

.input{
    margin-left: 20px;
}

.inputText::before{
    content: ' ';
    display: block;
    position: relative;
    top: 30px;
    left: -35px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}   

.inputText:first-of-type:before{
    background-image: url('https://w7.pngwing.com/pngs/974/566/png-transparent-google-flights-airline-ticket-hotel-travel-blue-angle-flight.png');
}

.inputText::before{
    background-image: url('https://img2.freepng.ru/20181115/jij/kisspng-world-computer-icons-favicon-symbol-illustration-cross-channel-marketing-platform-experian-market-5bee2cd8a6c218.0954288615423357046831.jpg');
}